@font-face {
    font-family: "Helvetica Neue";
    src: url("../Police/HelveticaNeueLight.ttf");
}

body {
    font-family: "Helvetica Neue", monospace, sans-serif;
    padding-top: 80px;
    background-image: url("../../img/background.png");
    background-attachment: fixed;
    color: white;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    color: black;
    padding-top: 10px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    padding: 5px;
    background-color: rgba(45, 45, 45, 0.98);
}

nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

nav li {
    list-style: none;
}

nav a, nav a:visited {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ddd;
}

footer {
    position: fixed;
    font-size: 10px;
    background-color: rgba(45, 45, 45, 0.98);
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
}

footer ul, nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

footer li {
    font-weight: bold;
}

footer p {
    text-align: center;
}

.list, .item_view {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: black;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
}

.user_liste {
    font-size: 10px;
}

.content ul, .item_view ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.item_view img {
    height: 64px;
    width: 64px;
    box-shadow: 5px 5px 20px black;
    border-radius: 5px;
}

.bt a, .bt a:visited {
    width: 150px;
    background-color: #aaa;
    padding: 10px;
    font-size: 12px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    box-shadow: 0px 0px 2px black;
}

.bt a:hover {
    color: #eee;
    background-color: #bbb;
}

.bt {
    text-align: center;
    margin-bottom: 15px;
}

.add_item a, .add_item a:visited {
    display: block;
    text-align: center;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
    background-color: rgba(238, 238, 238, 0.75);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: dimgrey;
    box-shadow: 0px 0px 2px white;
}

.add_item a:hover {
    color: #eee;
    background-color: rgba(187, 187, 187, 0.75);
}

.nom_list {
    width: 13%;
}

.desc_list {
    width: 50%;
}

.item {
    box-sizing: content-box;
}

.img {
    background-color: skyblue;
    width: 64px;
    display: inline;
}

.img img {
    padding-right: 10px;
    border-right: 2px black solid;

}

.infos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;

}

.elements {
    width: 80%;
    background-color: #ccc;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}

.nom_item {
    width: 10%;
    font-weight: bold;
    vertical-align: middle;
}

.desc_item {
    width: 55%;
}

.lien_item {
    width: 5%;
}

.prix_item {
    width: 5%;
}

.reserv_item, reserved {
    width: 5%;
}

.reserved {
    color: red;
}

.info_compte {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.info_compte p {
    text-align: right;
}

.espace_perso {
    background-color: #eee;
    border-radius: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    padding: 10px;
    margin-bottom: 20px;
}

.formulaire {
    background-color: #eee;
    border-radius: 10px;
    width: 25%;
    line-height: 100%;
    margin: auto;
}

.formulaire form {
    display: flex;
    justify-content: left;
    flex-direction: column;
    color: #000;
    padding: 15px;
}

.erreur {
    text-align: center;
    color: red;
    font-weight: bold;
    background-color: rgba(238, 238, 238, 0.75);
    border-radius: 15px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.warning {
    text-align: center;
    color: red;
    font-weight: bold;
}

.list_msg {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #eee;
    border-radius: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.list_msg form {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
}

.list_msg textarea {
    width: 80%;
}

.msg {
    padding: 10px 10px 10px 5%;
    color: #000;
}

.msg p {
    width: 95%;
    margin: auto;
    word-wrap: break-word;
}

.desc_site {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}